.shop {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    list-style: none;
}

.menu__item {
    text-align: center;
}

.content {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.item {
    background: lightgray;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}
